.full-bleed-bg {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
	position: relative;
	padding-top: 0;
	padding-bottom: 0;

	.bg-img {
		width: 100%;
		height: 100%;
		margin-bottom: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.bg-content {
		background: $green;
		padding: $spacer * 1.5;
	}

	@include media-breakpoint-up(sm) {
		min-height: 600px;
		height: 80vh;
		max-height: 1000px;

		.bg-img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.bg-content {
			background-color: rgba($green, .9);
			margin-bottom: $spacer*4;
		}
	}
}