#products {
  h2 {
    text-align: center;
  }
}

ul.alternating-list {
  margin-bottom: 0;
  display:flex;
  flex-direction: column;
  margin-top: $spacer *2;
  position: relative;

  // decorative line. Left of content on mobile
  &:before {
    content: '';
    height: 100%;
    width: 4px;
    position: absolute;
    left: 5px;
    top: 0px;
    background: linear-gradient($green-300, $green-700);
  }

  li {
    list-style: none;
    margin-bottom: $spacer * 2;
  }

  @include media-breakpoint-up(md){
  // decorative line moves to center
  &:before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

    // on larger screen, li takes up 45% of space and alternates
    li {
      padding: $spacer;
      width: 45%;

      &:nth-child(even){
        align-self: flex-end;
      }
    }
  }
}