/**
 * _site-header.scss
*/

body > header {
  position: fixed;
  width: 100%;
  background: rgba($secondary, .9);
  color: $white;
  z-index: 10;
}

#navigation {
  display: flex;

  .navigation-item,
  .navigation-label {
    padding: .5 * $spacer;

    a {
      color: $white;
      &:hover {
        color: $gray-400;
      }
    }
  }
}