/**
 * _structure.scss
 * Layout related styles and initialize top level elem such as html, body, header, footer
*/

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
}

// max container width. Used inside <section> and other layout level elem
.container-fluid {
  max-width: 1400px;
}

// set default img styles to prevent compression issues when using flex
img {
  max-width: 100%;
  height: auto;
}

// sections
section {
  padding: $spacer*2 0;

  @include media-breakpoint-up(sm){
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }
}

// adjust text for dark sections based on parent class
.bg-secondary {
  h1, h2, h3, h4, h5, h6,
  h1, h2, h3, h4, h5, h6,
  p, ul, ol {
    @extend .text-white;
  }

  a {
    color: $white;

    &:hover {
      color: $gray-400;
    }
  }
}

// additional class for setting background color similar to .bg-primary
.bg-light-gradient {
  background: linear-gradient(45deg, $gray-100, $gray-200);
}