/**
 * _typography.scss
 * Styles related to styling/overriding typography elements
*/

h3 {
  text-transform: uppercase;
}

span.fancy-font {
  font-family: 'Sacramento', sans-serif;
  font-size: 2em;
}